html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: aqua;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.card {
    display: block;
    margin: 100px auto;
    width: 500px;
    height: 60%;
    background-color: white;
    background-image: url(./img/bicycle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 390%;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 8px rgba(0,0,0,0.15);
    position: relative;
}

.card__container {
    position: absolute;
    margin: 40px;
    padding: 4px;
}

.card__container-item {
    display: inline-block;
    width: 100%;
    height: min-content;
}

.card__title {
    margin-bottom: 10px;
    height: auto;
}

.card__title-text {
    font-weight: bold;
    font-size: 1.5em;
}

.card__title-span {
    border: solid 1px rgb(156, 154, 154);
    border-radius: 100%;
    padding: 3px;
    position: absolute;
    right: 20px;
    text-align: center;
}

.card__title-span:hover {
    box-shadow: 0px 1px 2px 3px rgba(0,0,0,0.15);
    cursor: pointer;
}

.card__title-img {
    vertical-align: middle;
    
}

.card__subtitle {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    color: #ccc;
    width: 100%;
    text-align: center;
}

.card__product-name {
    display: inline-block;
    font-size: 1.2em;
    color: #C1BBBA;
    font-weight: bold;
}

.card__product-value {
    display: inline-block;
    right: 20px;
    position: absolute;
    font-weight: bold;
}

.card__product-total {
    font-size: 1.5em;
    color: #AFAAA8;
    font-weight: bold;
}