@charset 'utf-8';

@import '~normalize.css';
@import '~highlight.js/styles/darcula.css';

html,
body,
body > div {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
}

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  display: inline-block;
  height: 10%;
}

textarea {
  width: 100%;
  height: 45%;
}

textarea:focus {
  outline: 0 none;
}

button {
  display: inline;
  border: 1px solid #333;
  color: #333;
  box-sizing: content-box;
}

.view {
  background: #333;
  color: white;
  display: inline-block;
  width: 100%;
  height: 45%;
}